<div class="container__big-card">

  <div class="big-card__photo">
    <img
      src="https://image.api.playstation.com/vulcan/img/rnd/202010/2716/5f11i65d9kLRGpvRCbxU6XGE.jpg"
      alt=""
      height="200px"
      srcset=""
    >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae rutrum erat. Nam orci nisl, convallis id pharetra in, feugiat ut nisl. In ultricies massa in sapien porttitor ultricies. Fusce cursus quam.
      </a>
    </p>
  </div>

</div>
